* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: SFPro-Bold;
  src: url("assets/fonts/SFPro-Bold.ttf");
}

@font-face {
  font-family: SFPro-Medium;
  src: url("assets/fonts/SFPro-Medium.ttf");
}

@font-face {
  font-family: SFPro-Regular;
  src: url("assets/fonts/SFPro-Regular.ttf");
}
